
body {
    background-color: #f5f5f5; /* Color de fondo gris claro */
    font-family: Arial, sans-serif; /* Fuente Arial */
    margin: 0;
    padding: 0;
}


h1 {
    color: #3b5998; /* Color azul */
    font-size: 24px; /* Tamaño de fuente */
    text-align: center; /* Alineación centrada */
    margin-top: 20px; /* Margen superior */
}


p {
    margin: 10px; /* Margen alrededor del párrafo */
    font-size: 14px; /* Tamaño de fuente */
    font-family: sans-serif; /* Fuente sans-serif */
    line-height: 1.6; /* Altura de línea para mejor legibilidad */
}
ul {
    background-color: #e0f7fa; /* Fondo claro, azul suave */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno de la lista */
    list-style-type: disc; /* Estilo de viñetas */
    margin: 20px auto; /* Margen en la parte superior e inferior y centrado */
    width: 90%; /* Ancho de la lista */
    max-width: 600px; /* Máximo ancho */
}


ul li {
    font-size: 16px; /* Tamaño de fuente para los elementos de la lista */
    margin-bottom: 8px; /* Espacio entre los elementos */
}